<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="false" />
        <handlers>
            <add name="PHPFASTCGI" path=".php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php\php-7.4.33\php-cgi.exe" resourceType="Either" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php\php-7.4.33\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
