<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/backend/tests" />
        <option value="$PROJECT_DIR$/escpos/test/unit" />
        <option value="$PROJECT_DIR$/escpos/test/integration" />
        <option value="$PROJECT_DIR$/backend/print_config/test/unit" />
        <option value="$PROJECT_DIR$/backend/print_config/test/integration" />
        <option value="$PROJECT_DIR$/backend/process/print_config/test/unit" />
        <option value="$PROJECT_DIR$/backend/process/print_config/test/integration" />
      </list>
    </option>
  </component>
</project>